.budget-bills-list {
  width: 100%;
  height: 100%;


  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0 auto;
  padding: 5%;
}

h1 {
  border-bottom: 5px solid #0854A1;
  /* border-radius: 5px; */
  color: #0854A1;
  height: 8%;
}

.budget-overview {
  background-color: whitesmoke;
  font-size: 125%;

  bottom: 0;
  left: 0;
  position: fixed;

  width: 100%;
}

.budget-total {
  border-top: 15px solid #363636;
  color: #363636;
  display: inline-block;
  padding: 25px;
  text-align: left;
}

.budget-after {
  border-top: 15px solid black;
  color: black;
  display: inline-block;
  padding: 25px;
  text-align: right;
}