.budget-bills-list {
  width: 80%;
  height: 85%;


  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.budget-overview {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.budget-total {
  border-top: 15px solid #363636;
  background-color: whitesmoke;
  color: #363636;
  display: inline-block;
  font-size: 125%;
  padding: 25px 25px;
  text-align: left;
}

.budget-after {
  background-color: whitesmoke;
  border-top: 15px solid black;
  color: black;
  display: inline-block;
  font-size: 125%;
  padding: 25px 25px;
  text-align: right;
}