.budget-bills-list {
  width: 80%;
  height: 85%;


  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.budget-total {
  background-color: lightskyblue;
  border-radius: 5px;
  color: #363636;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

.budget-after {
  background-color: yellow;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}