.bill {
  background-color: #0C76E1;
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.bill-amount {
  color: yellow;
}

.bill-name {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 10px;
}

.bill-categories {
  border-top: 1px white solid;
  color: lightskyblue;
}
