.bill {
  background-color: #0854A1;
  border-radius: 5px;
  color: white;
  margin: 5px;
  padding: 5px;

  /* -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9)); */
}


.bill-amount {
  color: yellow;
}

.bill-name {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 10px;
}

.bill-categories {
  border-top: 1px white solid;
  color: #CCCCCC;
}
