.budget-income {
  font-size: 150%;
  width: 80%;
  height: 25%;
  text-align: center;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.budget-income > p, input, button {
  margin: 10px;
}

.pure-input-1-8 {
  font-weight: bold;
  text-align: center;
}

button {
  display: inline-block;
}