budget-income {
  width: 50%;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

budget-income > p, input, button {
  margin: 5px;
}

p {
  display: inline;
}

form {
  display: inline;
}

input[type="number"]
{
  background: transparent;
  border: none;
  text-align: center;
  width: 10%;
}

button {
  display: block;
}